div[id^="proj-"]{
	width: 50%;
	float: left;
	min-height: 10rem; 
	&:nth-child(even){
		padding: 0 .25em .5em .5em;
	}
	&:nth-child(odd){
		padding: 0 .5em .5em .25em;
	}
	.cover{
		height: 5em;
		background-attachment: center;
		background-size: cover;
	}
	.lockup{
		h6{
			margin: .5em .5em;
		}
	}
}
