h1 {
  margin: 3rem 0 1rem;
  line-height: 1em; }

html, body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Helvetica Neue LT Std'; }

ul {
  padding: 0; }

li {
  list-style: none; }

* {
  box-sizing: border-box; }

:root {
  font-size: 30px; }

ui-view {
  display: block;
  padding-top: 2em; }

body {
  background: #CECCC4;
  color: #2f2e2a; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0 0 .5em 0; }

p {
  margin: 0 0 .5em 0; }

h1 {
  font-size: 1.25em; }

h6 {
  font-size: .5em; }

body.project navigation {
  background: transparent;
  color: #CECCC4; }

body.project ui-view {
  padding: 0; }

body.project header {
  background: #2f2e2a;
  height: 100vh;
  color: #CECCC4; }
  body.project header > * {
    position: absolute; }
  body.project header .lockup {
    bottom: .5em;
    left: .5em;
    width: calc(100vw - 3em);
    z-index: 2; }
    body.project header .lockup h1 {
      margin: 0; }
  body.project header .explore {
    bottom: .5em;
    right: .5em;
    z-index: 2; }
  body.project header .background {
    opacity: .4;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover; }

body.project figure {
  margin: 0; }
  body.project figure img {
    width: 100%;
    position: relative; }

navigation {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  background: #CECCC4; }
  navigation .top {
    height: 2em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em; }
    navigation .top .logo {
      margin: 0;
      font-size: .5em;
      line-height: 1em; }
    navigation .top .hamburger {
      font-size: .75em;
      text-align: center; }
  navigation .bottom {
    padding: 0 .5em;
    display: block;
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: .333s all; }

body.open navigation .bottom {
  height: calc(100vh - 3em); }

work {
  display: block;
  width: auto;
  margin: 0 .5em .5em .5em; }
  work > h6 {
    margin-bottom: .5rem; }
  work .project {
    padding: 0 0 .25em 0;
    width: 50%;
    display: inline-block;
    vertical-align: top; }
    work .project:nth-child(even) {
      padding-right: .25em; }
    work .project:nth-child(odd) {
      padding-left: .25em; }
    work .project .cover {
      height: 33vw;
      background-position: center !important;
      background-size: cover !important; }
    work .project .lockup h6 {
      margin: .5em 0 .5em 0;
      font-size: .5em; }

carousel {
  width: auto;
  margin: 0 .5em .5em .5em;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative; }
  carousel .wrapper {
    width: 100%;
    height: 100%; }
    carousel .wrapper .feed {
      display: flex;
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      transition: all 0.5s; }
      carousel .wrapper .feed section {
        position: relative;
        flex-basis: 100%;
        flex-shrink: 0;
        font-size: 20px; }
        carousel .wrapper .feed section.project .lockup {
          position: absolute;
          bottom: 10px;
          left: 10px;
          width: 70%;
          z-index: 2; }
          carousel .wrapper .feed section.project .lockup h3 {
            color: #CECCC4;
            margin: 0; }
        carousel .wrapper .feed section.project .bg {
          position: absolute;
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          z-index: 1; }
        carousel .wrapper .feed section.project::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: #2f2e2a;
          opacity: .5;
          z-index: 2; }
  carousel button {
    font-size: 25px;
    position: absolute;
    top: 80px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #CECCC4; }
    carousel button.up {
      right: 10px; }
    carousel button.down {
      left: 10px; }
