:root {
  font-size: 30px; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Helvetica Neue LT Std';
  box-sizing: border-box;
  overflow-x: hidden; }
  html ul,
  body ul {
    padding: 0; }
    html ul li,
    body ul li {
      list-style: none; }
  html ui-view,
  body ui-view {
    padding-top: 2em;
    display: block;
    width: 100vw;
    transition: all .33s;
    overflow: hidden; }
  html img,
  body img {
    display: block; }
  html *.open ui-view,
  body *.open ui-view {
    background-attachment: fixed;
    opacity: .25;
    margin-left: 50vw; }

body {
  background: #CECCC4;
  color: #2f2e2a; }

svg.icon {
  overflow: visible; }
  svg.icon * {
    fill: none;
    stroke: #CECCC4;
    stroke-width: 5em;
    stroke-linecap: "round"; }

h1 {
  margin: 3rem 0 1rem;
  line-height: 1em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0 0 .5em 0; }

body.project ui-view p,
body.project ui-view figcaption,
body.project ui-view h1,
body.project ui-view h2,
body.project ui-view h3,
body.project ui-view h4,
body.project ui-view h5,
body.project ui-view h6,
body.about ui-view p,
body.about ui-view figcaption,
body.about ui-view h1,
body.about ui-view h2,
body.about ui-view h3,
body.about ui-view h4,
body.about ui-view h5,
body.about ui-view h6 {
  margin: 0 .5rem .5rem .5rem;
  font-size: .666em; }

div.node + div.node p,
img + p,
figure + p,
figcaption {
  margin-top: 0.5rem !important; }

h1 {
  font-size: 1.25em; }

h6 {
  font-size: .5em; }

.about-image {
  overflow: hidden;
  margin: 0 .5em .5em .5em;
  height: 6em;
  background-position-x: 72%;
  background-position-y: 6%; }

body.project.pageLoaded navigation .top {
  background: transparent;
  color: #CECCC4; }

body.project:not(.pageLoaded) navigation .top {
  background: #CECCC4;
  color: #2f2e2a; }

body.project ui-view {
  padding: 0; }

body.project header {
  background: #2f2e2a;
  height: 100vh;
  transition: height .5s;
  color: #CECCC4;
  overflow: hidden;
  position: relative; }
  body.project header > * {
    position: absolute; }
  body.project header.closed {
    height: 0;
    margin-bottom: 2em; }
  body.project header .lockup {
    left: .5em;
    bottom: .5em;
    width: calc(100% - 3em); }
    body.project header .lockup * {
      margin: 0; }
  body.project header .explore {
    width: 1em;
    right: .75em;
    bottom: .5em; }
    body.project header .explore polyline {
      stroke-width: 3em; }
  body.project header .background {
    opacity: .4;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: .66s; }
    body.project header .background.expanded {
      height: 200%;
      width: 200%; }

body.project article:not(:first-of-type) {
  padding-top: .5rem; }

body.project figure {
  margin: 0; }
  body.project figure img {
    width: 100%;
    position: relative; }

navigation {
  display: block;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  overflow: hidden;
  height: 2em;
  transition: height .5s; }
  navigation .top {
    transition: background-color .3s, color 1s;
    background: #CECCC4;
    height: 2em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em; }
    navigation .top .logo {
      margin: 0;
      font-size: .5em;
      line-height: 1em; }
    navigation .top .hamburger {
      font-size: .75em;
      text-align: center; }
  navigation .bottom {
    padding: 0 .5em;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: -50vw;
    margin: 0;
    transition: .33s left; }
    navigation .bottom.open {
      left: 0; }
    navigation .bottom ul {
      position: relative;
      bottom: 0;
      margin: 0;
      width: 50%; }
      navigation .bottom ul li {
        font-size: .45em;
        letter-spacing: .1rem;
        line-height: 2em;
        font-weight: 600;
        text-transform: uppercase; }

body.open ui-view {
  pointer-events: none; }

body.open navigation {
  height: 100vh; }

body.pageIsLoaded navigation .top {
  background: red !important; }

work {
  display: block;
  width: auto;
  margin: 0 .5em .5em .5em; }
  work > h6 {
    display: none; }
  work .project {
    padding: 0 0 .25em 0;
    width: 50%;
    display: inline-block;
    vertical-align: top; }
    work .project:nth-of-type(odd) {
      padding-right: .25em; }
    work .project:nth-of-type(even) {
      padding-left: .25em; }
    work .project .cover {
      height: 33vw;
      background-position: center !important;
      background-size: cover !important; }
    work .project .lockup h6 {
      margin: .5em 0 .5em 0;
      font-size: .5em; }

body.project work {
  padding-top: 1rem; }
  body.project work > h6 {
    display: block;
    margin: .5rem 0; }

slider {
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 .5em .5em .5em;
  height: 200px; }
  slider .feed {
    display: flex;
    height: 100%; }
    slider .feed .slide {
      min-width: 100%;
      position: relative; }
      slider .feed .slide.project .lockup {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 70%;
        z-index: 2; }
        slider .feed .slide.project .lockup * {
          color: #CECCC4;
          margin: 0; }
        slider .feed .slide.project .lockup p {
          font-size: .5rem;
          margin-top: .2rem;
          line-height: 1; }
      slider .feed .slide.project .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1; }
      slider .feed .slide.project::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #2f2e2a;
        opacity: .5;
        z-index: 2; }
  slider .controls {
    position: absolute;
    height: 1.25em;
    width: 100%;
    transform: translate(-50%, 0%);
    top: 0;
    left: 50%;
    display: flex;
    justify-content: space-between; }
    slider .controls .control {
      height: 100%;
      padding: .33em .5em;
      cursor: pointer; }
      slider .controls .control.forward .icon {
        transform: rotate(180deg); }
      slider .controls .control .icon {
        height: 100%;
        width: auto;
        overflow: visible; }
