navigation {
  display: block;
  transition: 2s all; }
  navigation .top {
    height: 3em;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: space-between; }
    navigation .top h1 {
      margin: 0;
      font-size: 1rem; }
  navigation .bottom {
    display: block;
    height: 0;
    overflow: hidden;
    margin: 0;
    background: red;
    transition: 2s all; }

navigation.open .bottom {
  height: calc(100vh - 3em); }

h1 {
  margin: 3rem 0 1rem;
  line-height: 1em; }

html, body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Helvetica Neue LT Std'; }

ul {
  padding: 0; }

li {
  list-style: none; }

* {
  box-sizing: border-box; }

:root {
  font-size: 30px; }

ui-view {
  background-color: whitesmoke; }

body {
  background: purple; }
