carousel{
	width: auto;
	margin: 0 .5em .5em .5em;
	height: 200px;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
	position: relative;
	.wrapper{
		width: 100%;
		height: 100%;
		.feed {
			display: flex;
			height: 100%;
			width: 100%;
			flex-shrink: 0;
			transition: all 0.5s;
			section {
				position: relative;
				flex-basis: 100%;
				flex-shrink: 0;
				font-size: 20px;
				&.project{
					.lockup{
						position: absolute;
						bottom: 10px;
						left: 10px;
						width: 70%;
						h3{
							color: $light;
							margin: 0;
						}
						z-index: 2;
					}
					.bg{
						position: absolute;
						width: 100%;
						height: 100%;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						z-index: 1;
					}
					&::before{
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background: $dark;
						opacity: .5;
						z-index: 2;
					}
				}
			}
		}
	}
	button{
		font-size: 25px;
		position: absolute;
		top: 80px;
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
		color: $light;
		&.up {
			right: 10px;
		}
		&.down {
			left: 10px;
		}
	}
}

// david styles
body.home{
	// carousel::before{
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: $dark;
	// 	opacity: .5;
	// 	z-index: 2;
	// }
}