work{
	display: block;
	width: auto;
	margin: 0 .5em .5em .5em;
	> h6{
		margin-bottom: .5rem;
	}
	.project{
		padding: 0 0 .25em 0;
		width: 50%;
		display: inline-block;
		vertical-align: top;
		&:nth-child(even){
			padding-right: .25em;
		}
		&:nth-child(odd){
			padding-left: .25em;
		}
		.cover{
			height: 33vw; // maintain an aspect ratio
			background-position: center!important;
			background-size: cover!important;
		}
		.lockup{
			h6{
				margin: .5em 0 .5em 0;
				font-size: .5em;
			}
		}
	}
}