<header>
	<div class="lockup">
		<h1>{{project.thisProj.title.rendered}}</h1>
		<p>{{project.thisProj.description}}</p>
	</div>
	<button>&#x2B07;</button>
	<div
		class="background"
		style="background-image: url('{{project.thisProj.cover}}')">
	</div>
</header>

<article
	ng-if="project.thisProj.content.data.length > 0">
	<div ng-repeat="node in project.thisProj.content.data">
		<p ng-if="node.text">{{node.text}}</p>
		<figure>
			<img ng-if="node.img" ng-src="{{node.img}}" alt="{{node.img}}"/>
			<figcaption ng-if="node.caption">{{node.caption}}</figcaption>
		</figure>
	</div>
</article>

<article
	ng-repeat="proj in project.thisProj.children track by $index">
	<h1>{{proj.title.rendered}}</h1>
	<div ng-repeat="node in proj.content.data">
		<p ng-if="node.text">{{node.text}}</p>
		<figure>
			<img ng-if="node.img" ng-src="{{node.img}}" alt="{{node.img}}"/>
			<figcaption ng-if="node.caption">{{node.caption}}</figcaption>
		</figure>
	</div>
</article>